@font-face {
    font-family: 'Anime Ace';
    src: url('AnimeAce.ttf') format('truetype');
}

html {
    font-family: 'Pacifico', cursive;
    background: url('/img/bg-black.jpg');
}

button.back {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

button {
    color: #fff;
    border-radius: 4px;
    margin: 0 20px;
    border: 10px solid #000;
    box-shadow: 0 0 8px #fff;
    background-color: transparent;
    padding: 2px 10px;
}

button:hover {
    animation: button 1s infinite linear;
}

button:active {
    transform: translate(2px,2px);
    box-shadow: none;
}

@keyframes button {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff;
    }
    50% {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    100% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff;
    }
}

#wrapper {
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.content {
    color: #b0b0b0;
    width: 50vw;
    padding: 10px;
    border-radius: 15px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    font-family: 'Pacifico', cursive;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #fff, 0 0 0 5px #000;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #fff;
}


h1 {
    text-align: center;
    background-color: transparent;
}

.title {
    padding: 5px 10px;
}
h5{
    padding: 0 10px;
}

.goal p {
    padding: 5px;
}


.sudoku .goal p {
    text-indent: 5rem;
}

.rules li{
    padding: 5px;
    text-indent: 3px;
    list-style: number;
}

.rule-1, .rule-2, .rule-3 {
    display: flex;
    justify-content: center;
}

.rules img {
    border-radius: 3px;
    border: 1px solid #fff;
}