:root {
    --color: #c9c9c9;
    --bg-table: #c9c9c9;
}
.cl-white {
    color: var(--color);
}



.table-container {
    max-height: 300px;
    overflow-y: auto; 
    border: 1px solid #ccc;
}
.col-9 .status .table{
    background-color: var(--bg-table) !important;
}

